---
import Layout from "../../layout/default.astro"
---

<Layout title="Hack CLub">
    <div class="flex justify-evenly my-6">
        <div class="flex flex-row items-center justify-evenly">
            <img src = "https://assets.hackclub.com/flag-standalone.svg" class="mr-5vw">
            <h2 class="text-9xl text-light-blue"> Hack Club </h2>
        </div>
    </div>

    <div class="flex flex-row justify-center my-8"> 
        <div class="flex flex-col items-center bg-frosted-blue rounded-2xl h-fit w-80vw">
            <h1 class="text-5xl"> What is Hack Club? </h1>
            <p class="text-3xl my-3 mx-10 text-justify"> 
                Writing is for Odysseus, I am not good in this.
            </p>
        </div>
    </div>

    <div class="flex flex-row justify-center my-8"> 
        <div class="flex flex-col items-center bg-frosted-blue rounded-2xl h-fit w-80vw">
            <h1 class="text-5xl"> What do <u>we</u> have to do with Hack Club? </h1>
            <p class="text-3xl my-3 mx-10 text-justify"> 
                All of us (Organizers) have been in Hack Club for years. During this time we had our own Club, participated in smaller and bigger Hack Club events and also understood the philosophy and the concept of Hack Club...
                <br> We need Odysseus again, no ideas, no English Knowledge 
            </p>
        </div>
    </div>
    
    <div class="flex flex-row justify-center my-8"> 
        <div class="flex flex-col items-center bg-frosted-blue rounded-2xl h-fit w-80vw">
            <h1 class="text-5xl"> Hack Club events that you can participate </h1>
            <div class="flex flex-row">
                <div class="flex flex-row">
                    <img src="../../../public/test-photo.png" width="120px" height="100px">
                    <p class="text-3xl"> Arcade </p>
                </div>
                <div class="flex flex-row">
                    <img src="/text-photo" width="120px" height="120px">
                    <p class="text-3xl"> On board </p>
                </div>
            </div>
            <div class="flex flex-row">
                <div class="flex flex-row">
                    <img src="/text-photo" width="120px" height="120px">
                    <p class="text-3xl">  </p>
                </div>
                <div class="flex flex-row">
                    <img src="/text-photo" width="120px" height="120px">
                    <p class="text-3xl"> </p>
                </div>
            </div>
        </div>
    </div>

</Layout>