---
let { city, country, image, learnMore } = Astro.props
---

<div class="w-event_cards h-event_cards bg-soft-peach rounded-xl mx-[3vw] my-[1vw]">
    <img src={image} class="rounded-xl w-event_cards h-event_cards">
    <div class="w-event_cards absolute flex flex-row justify-center top-4">
        <p class="font-semibold text-[2vw]"> {city}, {country} </p>
    </div>
    <div class="w-event_cards flex flex-row justify-center">
        <button class="absolute bottom-5 p-[0.5vw] bg-zinc-300 rounded-lg">
            <a href='#'> {learnMore} </a>
        </button>
    </div>
</div>