---
let { city, country, image} = Astro.props

import { getPreferredEntry } from "../lib/i18n";
const t = await getPreferredEntry(Astro);
---

<div class="w-event_cards h-event_cards bg-soft-peach rounded-xl mx-[3vw] my-[1vw]">
    <img src={image} class="rounded-xl w-event_cards h-event_cards">
    <div class="w-event_cards absolute flex flex-row justify-center top-4">
        <p class="font-semibold text-[2vw]"> {city}, {country} </p>
    </div>
    <div class="w-event_cards flex flex-row justify-center">
        <button class="absolute bottom-[1.5vw] py-[0.5vw] px-[1vw] bg-[#E7A474] rounded-lg text-[1.3vw]">
            <a href='#'> {t['home.events.learnmore']} </a>
        </button>
    </div>
</div>