---
let { question, answer } = Astro.props
---

<div class= "question flex flex-row justify-between bg-really-light-blue text-dark-gray font-semibold text-4xl rounded-xl py-3 px-5 m-2 w-85vw duration-700 border-none cursor-default text-center hover:bg-grayish-blue hover:w-85vw"> 
    {question} <div> <i class="fa-solid fa-caret-down fa-2xl"></i> </div>
</div>

<div class="text-xl px-5 py-3 w-85vw hidden bg-light-blue overflow-hidden rounded-xl font-semibold text-center mb-4">

    <p> {answer} </p>

</div>

<style>
	.active {
		background-color: #a6b3c9; 
		width: 85vw;
	}
</style>

	<script>
		var acc = document.getElementsByClassName("question");
		var i;
		
		for (i = 0; i < acc.length; i++) {
			acc[i].addEventListener("click", function() {
			this.classList.toggle("active");
			var panel = this.nextElementSibling;
			if (panel.style.display === "block") {
				panel.style.display = "none";
			} else {
				panel.style.display = "block";
			}
			});
		}
	</script>