---
let { question, answer } = Astro.props
---

<div class= "question bg-really-light-blue text-dark-gray font-semibold text-4xl rounded-xl py-3 px-5 m-2 w-85vw duration-700 border-none cursor-default text-center hover:bg-grayish-blue hover:w-85vw"> 
    {question}
</div>

<div class="text-xl px-5 py-3 w-85vw hidden bg-light-blue overflow-hidden rounded-xl font-semibold text-center">

    <p> {answer} </p>

</div>

<style>
	.active {
		background-color: #a6b3c9; 
		width: 85vw;
	}
</style>