---
let { question, answer } = Astro.props
---

<div class="question flex flex-row justify-between text-[#7A4B2A] font-semibold text-[2vw] rounded-xl py-3 px-5 m-2 w-85vw duration-700 border-none cursor-pointer text-center hover:bg-grayish-blue hover:w-85vw"> 
    {question} 
    <div class="arrow-icon">
        <i class="fa-solid fa-caret-down fa-2xl"></i>
    </div>
</div>

<div class="answer text-xl text-[#7A4B2A] w-85vw max-h-0 overflow-hidden transition-max-height duration-500 ease-in-out rounded-xl mb-4">
    <p class="px-5 py-3 font-semibold text-center">
        {answer}
    </p>
</div>

<style>
    .question {
        background-color: #F5C99F;
    }
    .question:hover {
        background-color: #F5B684;
    }
    .active {
        background-color: #F5B684;
        width: 85vw;
    }
    .transition-max-height {
        transition: max-height 0.5s ease-in-out;
    }
    .answer p {
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        background-color: #E7A474;
    }
    .answer.show p {
        opacity: 1;
    }
</style>

<script>
    var acc = document.getElementsByClassName("question");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function() {
            this.classList.toggle("active");

            var icon = this.querySelector(".arrow-icon i");
            icon.classList.toggle("fa-caret-down");
            icon.classList.toggle("fa-caret-up");

            var panel = this.nextElementSibling;
            if (panel.style.maxHeight) {
                panel.style.maxHeight = null;
                panel.classList.remove('show');
            } else {
                panel.style.maxHeight = panel.scrollHeight + "px";
                panel.classList.add('show');
            }
        });
    }
</script>