<footer class="bg-midnight-slate flex flex-row justify-evenly items-center">
    <img src="../../media/Banner.png" width="180px" height="180px" class="ml-2 mr-5">

    <div class="flex flex-col justify-center items-center">
        <h1 class="text-3xl"> Contacts </h1>

        <div class="flex flex-row mt-2 mb-4">
            <div class="mx-4">
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
            </div>
            <div class="mx-4">
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
            </div>
        </div>
    </div>
    <div class= "flex flex-col">
        <div class= "flex flex-row my-3">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
        </div>
        <div class= "flex flex-row my-3">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
        </div>
    </div>
    <div class= "flex flex-col items-center w-20.8vw">
        <div class= "flex flex-row my-3 justify-center">
            <h2 class="text-center text-3xl text-blanched-almond"> Sign in for our <br> monthly Newsletter: </h2>
        </div>
        <div class= "flex flex-row mb-2 mt-0">
            <form action="#" class="w-20.8vw flex flex-col items-center justify-center">
                <input type="text" name="phone" placeholder="Enter your Email" class="m-1 w-18vw py-2 text-2xl text-sandstone-beige bg-dusty-blue text-center rounded-lg">
                <input type="submit" class="w-10vw bg-dusty-blue text-sandstone-beige p-3 m-1 rounded-md text-xl hover:bg-frosted-blue">
              </form>
        </div>
    </div>
</footer>