<footer class="bg-midnight-slate flex flex-row">
    <img src="../../media/Banner.png" width="180px" height="180px" class="ml-2 mr-5">

    <div class="flex flex-col justify-center items-center">
        <h1 class="text-3xl"> Contacts </h1>

        <div class="flex flex-row mt-2 mb-4">
            <div class="mx-4">
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
            </div>
            <div class="mx-4">
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
                <h2 class="text-xl"> e-mail: questions@europehacks.com </h2>
            </div>
        </div>
    </div>
    <div class= "flex flex-col">
        <div class= "flex flex-row my-3">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
        </div>
        <div class= "flex flex-row my-3">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
            <img src="../../public/greece.png" width="80px" height="80px" class="mx-4">
        </div>
    </div>
</footer>