---
import { getPreferredEntry } from "../lib/i18n";
const t = await getPreferredEntry(Astro);
---

<nav class="font-sams h-[40vh] sm:h-[100vh] text-div-bg">
    <ul class= "w-[60vw] sm:w-[33vw] flex float-end justify-between px-5 list-none py-3 z-10 sticky top-0">
            
        <li class="nav-link font-bold opacity-75 relative text-[3vw] sm:text-[1.8vw] no-underline flex float-end">
                <a href= "/" class="no-underline"> <slot class="navbar-item"> Home Page </slot> </a>
        </li>
    
        <li class="nav-link font-bold opacity-75 relative text-[3vw] sm:text-[1.8vw] no-underline flex float-end">
                <a href= "/eurohacks" class="no-underline"> <slot class="navbar-item"> Eurohacks </slot> </a>
        </li>
    
        <li class="nav-link font-bold opacity-75 relative text-[3vw] sm:text-[1.8vw] no-underline flex float-end">
                <a href= "/hackathons" class="no-underline"> <slot class="navbar-item"> Hackathons </slot> </a>
        </li>
    </ul>

    <img src="../../Banner.png" class="absolute w-max">

    <div class="bg-div-bg p-[1vw] text-justify text-[1.2vw] flex z-10 sticky w-[30vw] rounded-lg top-[1vw] left-[1vw]">
		<p class="text-button-text">
            {t['home.warning']}
		</p>

	</div>

</nav>

<style>
        .nav-link::before {
    transition: 1000ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: rgb(255, 245, 232);
    width: 0%;
    bottom: -1px;
    }

    @media screen and (max-width: 1000px) {
        .nav-link::before {
            height: 3px;
        }
    }

    .nav-link:hover::before {
        width: 100%;
    }
</style>