<nav class="font-sams">
    <ul class= "flex sticky items-center justify-between px-5 list-none bg-midnight-slate">
        <li>
            <a href="/" aria-label="Eurohacks"><img src="/media/Banner.png" alt="Logo" width="100px"/></a>
        </li>
        <li class="nav-link font-bold opacity-75 relative text-5xl no-underline text-frosted-blue flex">
            <i class= "fa-solid fa-house"></i>
            <a href= "/" class="no-underline"> <slot class="navbar-item"> Home Page </slot> </a>
        </li>
        <li class="nav-link font-bold opacity-75 relative text-5xl no-underline text-frosted-blue flex">
            <i class="fa-solid fa-laptop-code" ></i>
            <a href= "/hackathons" class="no-underline"> <slot class="navbar-item"> Hackathons </slot> </a>
        </li>
        <li class="nav-link font-bold opacity-75 relative text-5xl no-underline text-frosted-blue flex">
            <div class="mr-2"> <i class="fa-solid fa-people-group"></i>  </div>
            <a href= "/about" class="no-underline"> <slot class="navbar-item"> About us </slot> </a>
        </li>
        <li class="nav-link font-bold opacity-75 relative text-5xl no-underline text-frosted-blue flex hover:opacity-100 hover:text-frosted-blue">
            <img src="https://assets.hackclub.com/icon-rounded.svg" width="45px">
            <a href= "/hackclub" class="no-underline"> <slot class="navbar-item"> Hack Club </slot> </a>
        </li>
    </ul>
</nav>

<style>
    .nav-link::before {
    transition: 1000ms;
    height: 6px;
    content: "";
    position: absolute;
    background-color: rgb(163, 227, 255);
    width: 0%;
    bottom: -7px;
    }

    .nav-link:hover::before {
        width: 100%;
    }
</style>