---
import NavbarElement from "../components/NavbarElement.astro";
---

<div class="absolute w-[100vw] pt-[87.7vh]">
    <p class="colors text-[200px] font-bold text-light-apricot z-10 relative flex justify-center my-0 py-0"> EuroHacks </p>
    <p class="colors text-[70px] font-bold  text-light-apricot z-10 relative flex justify-center my-0 py-0 -mt-20"> Hackathons in every corner of Europe </p>
</div>

<!-- 
<style>
    .colors {
        animation-name: color;
        animation-duration: 4s;
        animation-iteration-count: infinite;
    }
    @keyframes color {
        0%   {color: #fcd89b;}
        50%  {color: #fec580;}
        100% {color: #fcd89b;}
    }
</style>
-->

<NavbarElement></NavbarElement>

<br><br><br><br><br><br><br><br><br>