<nav class="font-sams">
    <ul class= "w-[30vw] absolute flex float-end right-0 justify-between px-5 list-none py-3 z-10">
        
        <li class="nav-link font-bold opacity-75 relative text-2xl no-underline flex float-end">
            <a href= "/" class="no-underline"> <slot class="navbar-item"> Eurohacks </slot> </a>
        </li>

        <li class="nav-link font-bold opacity-75 relative text-2xl no-underline flex float-end">
            <a href= "/hackathons" class="no-underline"> <slot class="navbar-item"> Map </slot> </a>
        </li>

        <li class="nav-link font-bold opacity-75 relative text-2xl no-underline flex float-end">
            <a href= "/about" class="no-underline"> <slot class="navbar-item"> Hackathons </slot> </a>
        </li>
    </ul>
</nav>

<style>
    .nav-link::before {
    transition: 1000ms;
    height: 4px;
    content: "";
    position: absolute;
    background-color: rgb(79, 80, 97);
    width: 0%;
    bottom: -1px;
    }

    .nav-link:hover::before {
        width: 100%;
    }
</style>