---
let { name, paragraph, country_image, image  } = Astro.props
---

<div class="flex flex-col justify-center items-center mb-[5vw] mx-4 sm:my-0">
    <div class="relative">
        <img src={image} class="block w-[60vw] h-[45vw] sm:w-[24vw] sm:h-[18vw] rounded-xl">
        <img src={country_image} class="absolute w-16 h-16 top-2 left-2">
     </div>
    <div class="w-[60vw] mt-3 sm:w-[25vw]">
        <h1 class="w-[60vw] sm:w-[25vw] text-footer-header bg-header text-center p-0.4vw rounded-t-md text-[2vw] font-bold"> {name} </h1>
        <div class="mt-0 bg-button-bg text-[2vw] sm:text-[1.3vw] rounded-b-md"> 
            <p class="mx-4 text-paragraph-text text-justify"> {paragraph} </p>
        </div>
    </div>
</div>