---
let { name, paragraph, country_image, image  } = Astro.props
---

<div class="flex flex-col justify-center items-center my-0 mx-4">
    <div class="relative">
        <img src={image} class="block w-24vw h-18vw rounded-xl">
        <img src={country_image} class="absolute w-16 h-16 top-2 left-2">
     </div>
    <div class="w-24vw mt-3">
        <h1 class="w-24vw text-soft-peach bg-pale-sky-blue text-center p-0.4vw rounded-t-md text-3xl font-bold"> {name} </h1>
        <div class="mt-0 bg-steel-blue text-2xl rounded-b-md"> 
            <p class="mx-4 text-soft-peach text-justify"> {paragraph} </p>
        </div>
    </div>
</div>