---
let { image } = Astro.props
---

<div class="w-event_cards h-event_cards bg-soft-peach rounded-xl mx-[3vw] my-2">

    <img src={image} class="rounded-xl w-event_cards h-event_cards">
    
</div>
