---
import Event from "../components/Event.astro"
---

<div class="overflow-hidden relative border-2 border-solid border-[#ddd]">
    <div class="carousel flex flex-row w-max">

        <Event city="Berlin"        country="Germany"   image="../../Berlin_1.jpg"/>
        <Event city=" - "           country="Poland"    image="../../test-photo.jpg"/>
        <Event city="Madrid"        country="Spain"     image="../../Madrid_1.jpg"/>
        <Event city="Lodnon"        country="UK"        image="../../London_1.jpg"/>
        <Event city="Thessaloniki"  country="Greece"    image="../../Thessaloniki_1.jpg"/>
        <Event city="Milan"         country="Italy"     image="../../Milan_1.jpg"/>

    </div>
</div>

<style>

.carousel {
    animation: scroll 60s linear infinite;
}

@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
</style>


<script>
const carousel = document.querySelector('.carousel');

// Duplicate the content of the carousel
const carouselImages = [...carousel.children];
carouselImages.forEach((img) => {
    const clone = img.cloneNode(true);
    carousel.appendChild(clone);
});
</script>