---
import Layout from "../../layout/default.astro"
import OrganizerCard from "../../components/OrganizerElement.astro"
---

<Layout title="EuroHack">
    
    <div class="w-100vw flex justify-center">
        <br><br>
        <p class="text-[140px] my-6 font-semibold text-[#ECBA82]"> Coming soon </p>
        <br><br>
    </div>

</Layout>


<!-- This is not finished yet, it will get implemented by the end of October -->

    <!--
    <div class="flex flex-row justify-center mt-12"> 

        <div class="flex flex-col items-center bg-frosted-blue rounded-2xl h-fit w-80vw">
            <h1 class="text-5xl"> <i class="fa-solid fa-bullseye"></i> Our goal </h1>
            <p class="text-4xl my-3 mx-10 text-justify"> After some years in the Hack Club community and after we participated in many smaller and bigger events we found out that there is an issue...there are no enough Hack Club hackathons in Europe. So we decided to take care of the issue by organizing Eurohacks. We hope that this event will be the first event of a series of events in Europe organized by Hack Club. (I will write some more things tmr) 
                <br> <br> For more information about Hack Club, visit this page: <a href="../hackclub/" style="text-decoration: none; color: rgb(0, 128, 255);"> Hack Club</a>. </p>
        </div>

    </div>

    <div class="flex justify-center">
        <div class="flex flex-col justify-center items-center mt-12 bg-frosted-blue w-80vw rounded-2xl">

            <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
                <img src="../../../head_organizing_team.png" width="80px" style="margin-right: 25px;">
                <h1 class="text-5xl"> Head Organizers </h1>
            </div>

            <div class="flex flex-row justify-evenly mt-3">

                <OrganizerCard
                name = "Odysseus Kirikopoulos"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../greece.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Tsilas Nikos"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../greece.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>    

                <OrganizerCard
                name = "Marios Mitsios"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../greece.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                
            </div>

            <br>
        </div>
    </div>

    <br>

    <div class="flex justify-center">
        <div class="flex flex-col justify-center items-center mt-12 bg-frosted-blue w-80vw rounded-2xl">

            <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
                <img src="../../../organizing_team.png" width="80px" style="margin-right: 25px;">
                <h1 class="text-5xl"> Organizers </h1>
            </div>

            <div class="flex flex-row justify-evenly mt-3">
                
                <OrganizerCard
                name = "Bartosz Budnik"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../poland.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Victorio"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../spain.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Leo Wilkin"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../united-kingdom.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>
            
            </div>

            <br>

            <div class="flex flex-row justify-evenly">

                <OrganizerCard
                name = "Leonard Stegle"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../germany.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Samuel Leber"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../germany.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Arthur Hardy"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../united-kingdom.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

            </div>

            <br>

            <div class="flex flex-row justify-evenly">
                
                <OrganizerCard
                name = "Giacomo Radaelli"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../italy.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Doruk Sarp Aydın"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../turkey.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>

                <OrganizerCard
                name = "Marios Mitsios"
                paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
                country_image = "../../../greece.png"
                image = "../../../test-photo.png"
                >
                </OrganizerCard>
                
            </div>

            <br>
        </div>
    </div>
    <br>
-->