---
import Layout from "../../../layout/default.astro"
import OrganizerCard from "../../../components/OrganizerElement.astro";
import { getEntry } from "astro:content";

export function getStaticPaths() {
  return [
    {params: {country: 'greece'}},
    {params: {country: 'uk'}}
  ];
}

const { country } = Astro.params;
const event = (await getEntry('events', country)).data
// const eventOrganizers = event.organizers.map(async (organizer: string) => (await getEntry('organizers', organizer)).data)
const t = event.organizers.map(async (person) => {
  const data = await getEntry('organizers', person)
  return data.data
})

console.log(t)
---

<Layout title="Greek Event">


    <div class="flex justify-center my-3">
      <div class="flex flex-col justify-center items-center mt-12 bg-frosted-blue w-80vw rounded-2xl">

          <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
              <img src="../../../public/head_organizing_team.png" width="80px" class="mr-6 mt-2">
              <h1 class="text-5xl font-bold"> Οργανωτική επιτροπή διοργάνωσης  </h1>
          </div>

          <div class="flex flex-row justify-evenly mt-3">

              <OrganizerCard
              name = "Odysseus Kirikopoulos"
              paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
              country_image = "../../../public/greece.png"
              image = "../../../public/test-photo.png"
              >
              </OrganizerCard>

              <OrganizerCard
              name = "Tsilas Nikos"
              paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
              country_image = "../../../public/greece.png"
              image = "../../../public/test-photo.png"
              >
              </OrganizerCard>    

              <OrganizerCard
              name = "Marios Mitsios"
              paragraph = "Blah blah blah blah I want to check what the width and the height is so blah blah blah also I am trying to experiment with desplay: flex; and I need a pretty bit text so blah blah blah if you didn't understand this in my mind was a song blah blah blah. So as I can see we need a bigger font-size but also a pretty big text and I am refusing to us lorem ispum or whatever this latin thingy is."
              country_image = "../../../public/greece.png"
              image = "../../../public/test-photo.png"
              >
              </OrganizerCard>

              
          </div>

          <br>
      </div>
  </div>

  <div class="flex justify-center my-3">
    <div class="flex flex-col justify-start mt-12 bg-frosted-blue w-80vw rounded-2xl">

      <div class="flex flex-row justify-center items-center rounded-2xl h-fit w-80vw">
        <img src="/info.png" width="80px" class= "mr-6 mt-2">
        <h1 class="text-5xl font-bold"> Πληροφορίες διοργάνωσης </h1>
      </div>
      
      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-location-dot fa-2xl"></i> </div> <h2 class="text-4xl"> Location </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-clock fa-2xl"></i> </div> <h2 class="text-4xl"> Dates / Time </h2> 
      </div>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <img src="../../../../public/participants.png" class="w-9"> </div> <h2 class="text-4xl"> Participants </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <img src="../../../../public/zoom.png" class="w-9"> </div> <h2 class="text-4xl"> Zoom call </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-envelope fa-2x"></i> </div> <h2 class="text-4xl"> E-mail </h2> 
      </div>
      <br>

      <br>
      <div class="flex flex-row items-center justify-start ml-4vw"> 
        <div class="mr-1vw"> <i class="fa-solid fa-phone fa-2x"></i> </div> <h2 class="text-4xl"> Telephone </h2> 
      </div>
      <br>
    </div>
  </div>
  
  <br>

  <div class="flex items-center justify-evenly my-3">
    <div class="flex flex-col justify-start mt-12 bg-frosted-blue w-35vw rounded-2xl">
      <h2 class="flex justify-center text-6xl font-semibold text-golden-sand mt-4"> Hello Hello</h2>
    </div>
    <div class="flex flex-col justify-center mt-12 bg-frosted-blue w-35vw rounded-2xl">
      <div class="flex flex-row items-center justify-center">
        <img src="../../../../public/food.png" class="w-5vw mt-4 ml-4">
        <h2 class="flex items-center text-5xl font-semibold text-golden-sand mt-3 w-30vw justify-center text-center"> Διατροφή συμμετεχόντων </h2>
      </div>

      <p class="text-justify text-3xl my-4 mx-8"> Η διατροφή των συμμετεχόντων θα καλύπτεται πλήρως από την διοργάνωση με 3 γεύματα 
        (πρωινό, μεσημεριανό & βραδινό) για συμμετέχοντες των οποίων η μεταφορά μερικώς καλύπτεται και 2 γεύματα 
        (πρωινό & μεσημεριανό) για τους συμμετέχοντες από κοντινές περιοχές. Ακόμα, κατά την διάρκεια όλου του 
        3ημέρου θα ειναι διαθέσιμα snacks. <br> <br> Για περισσότερες πληροφορίες επικοινωνείστε μαζί μας μέσω 
        του e-mail που δίνεται παραπάνω.</p>
    </div>
  </div>
</Layout>