---
import HackathonCard from "../../components/HackathonElement.astro"
import Layout from "../../layout/default.astro"
---

<Layout title="Hackathons">
    <h2 class="hackathons_title font-bold text-6xl mt-6 -mb-5 text-soft-peach"> Europe-Hacks: Hackathons in every corner of Europe </h2>

    <HackathonCard
    countrytitle =  "France"
    country =       " france"
    city =          " Peraia, Thessaloniki "
    discordlink =   " <placeholder> "
    telephone =     " +30 69******** "
    image =         " ../../../public/france.png "
    info_page =     "../hackathons/frnace"
    rsvp_page =     "#"
    >
    </HackathonCard>
    <HackathonCard
    countrytitle = "Germany"
    country = " germany"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/germany.png "
    info_page =     "../hackathons/germany"
    >
    </HackathonCard>

    <HackathonCard
    countrytitle = "Greece"
    country = " greece"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/greece.png "
    info_page =     "../hackathons/greece"
    >
    </HackathonCard>

    <HackathonCard
    countrytitle = "Italy"
    country = "italy"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/italy.png "
    info_page =     "../hackathons/italy"
    >
    </HackathonCard>

    <HackathonCard
    countrytitle = "Poland"
    country = "poland"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/poland.png "
    info_page =     "../hackathons/poland"
    >
    </HackathonCard>

    <HackathonCard
    countrytitle = "Spain"
    country = "spain"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/spain.png "
    info_page =     "../hackathons/spain"
    >
    </HackathonCard>

    <HackathonCard
    countrytitle = "UK"
    country = "uk"
    city = " Peraia, Thessaloniki "
    discordlink = " <placeholder> "
    telephone = " +30 69******** "
    image = " ../../../public/united-kingdom.png "
    info_page = "../hackathons/uk"
    >
    </HackathonCard>

    <style>
        .hackathons_title {
            display: flex;
            justify-content: center;
            color: #FFE193;
            font-size: 48px;
        }
    </style>
</Layout>